.cards-scroll-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.homeCard {
    min-width: 250px;
    width: 18rem;
    flex-shrink: 0;
}

.navTitle {
    width: 100px
}

.infoCard {
    min-width: 250px;
    width: 36rem;
    flex-shrink: 0;
}